@model List<List<ApiAuctionShop.Models.Auctions>>
@{
    ViewData["Title"] = "Moje aukcje";
}


@if (Model[0].Count > 0)
{
    <h2>Moje aukcje</h2>
    <table class="table table-striped grid-table">
        <tr>
            <td>Lp.</td>
            <td>Tytuł</td>
            <td>Autor</td>
            <td>Data zakończenia</td>
            <td>Aktualna cena</td>
        </tr>

        @foreach (var item in Model[0].Select((value, i) => new { i = ++i, value }))
        {
            <tr>
                <td>@item.i.</td>
                <td>
                @Html.ActionLink(item.value.title, "AuctionPage", "Auction", new {id = item.value.ID}, null) </td>
                <td>@item.value.Signup</td>
                <td>@item.value.duration</td>
                <td>@item.value.price</td>
            </tr>
        }
    </table>
}

@if (Model[1].Count > 0)
{
    <h2>Wszystkie aukcje</h2>
    <table class="table table-striped grid-table">
        <tr>
            <td>Lp.</td>
            <td>Tytuł</td>
            <td>Autor</td>
            <td>Data zakończenia</td>
            <td>Aktualna cena</td>
        </tr>

        @foreach (var item in Model[1].Select((value, i) => new { i = ++i, value }))
        {
            <tr>
                <td>@item.i.</td>
                <td>
                    @Html.ActionLink(item.value.title, "AuctionPage", "Auction", new { id = item.value.ID }, null)
                </td>
                <td>@item.value.Signup</td>
                <td>@item.value.duration</td>
                <td>@item.value.price</td>
            </tr>
        }
    </table>
}
